version: '3.8'
services:
  tb-gateway:
    image: thingsboard/tb-gateway
    container_name: tb-gateway-snmp2-listener
    restart: unless-stopped

    # this allows us to use port numbers < 1024
    cap_add:
      - NET_BIND_SERVICE

    # Ports bindings - required by some connectors
    ports:
        # - "1883:1883"       # mqtt port for connecting to Thingsboard
        - "161:161/udp"         # snmp port
        - "10162:10162"         # testing port
        - "162:162/udp"         # snmp trap

    # Necessary mapping for Linux
    extra_hosts:
      - "host.docker.internal:host-gateway"

    # Environment variables
    environment:
      - TB_GW_HOST=10.128.0.33
      - TB_GW_PORT=1883
      - TB_GW_ACCESS_TOKEN=GATEWAY_TOKEN_1
      - TB_GW_LOGS_PATH=/thingsboard_gateway/logs

    # Volumes bind
    volumes:
      - tb-gw-config:/thingsboard_gateway/config
      - tb-gw-logs:/thingsboard_gateway/logs
      - tb-gw-extensions:/thingsboard_gateway/extensions

    labels:
      # These three labels are what makes Portainer display it beautifully
      - "org.portainer.stack=gateways for snmp"   # groups them under this stack name

# Volumes declaration for configurations, extensions and configuration
volumes:
  tb-gw-config:
    name: tb-gw-config
  tb-gw-logs:
    name: tb-gw-logs
  tb-gw-extensions:
    name: tb-gw-extensions
