version: '3.0'
services:
  tb-gateway:
    restart: always
    image: ""
    ports:
      - "1883:1883"
    environment:
      - TB_GW_HOST=
      - TB_GW_PORT=1883
      - TB_GW_ACCESS_TOKEN=
      - TB_GW_LOGS_PATH=/thingsboard_gateway/logs
    volumes:
      - ~/thingsboard_gateway_c/config:/thingsboard_gateway/config
      - ~/thingsboard_gateway_c/logs:/thingsboard_gateway/logs
      - ~/thingsboard_gateway_c/extensions:/thingsboard_gateway/extensions